
  .landing-page{
    width: 400px;
    height: 358px;
    text-align: center;
    margin-top: -510px;
    border-radius: 20px;
    background-color: white;
  }

  .head{
    margin-top: 110px;
  }
  
 
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D1C8BD;
    font-family: Arial, sans-serif;
    
  }

  .container {
    margin-top: 100px;
    background-color: #D1C8BD;
    text-align: center;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 20px;
}

.category img {
    margin: 10px;
    margin-left: 20px;
}

.category span {
    display: block;
}


  .logo {
    width: 60px;
    height: 60px;
    margin-top: 80px;
    float: right;
   margin-left: 350px;
  }

  .Hair{
    border-radius: 100%;
    margin-left: 0.9%;
    margin:5px;
    display: inline-block;
    
  }
  .Hair,.hairtext{
    display: inline-block;
    ruby-align: space-between;
   ruby-align: space-around;
   ruby-align: auto;
  }
  

  .Nails{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-right: 0.10%;
    margin:1px;
    display: inline-block;
  }
    
   .Nails,.nailtext{
    display: inline-block;
    ruby-align: space-between;
   ruby-align: space-around;
   ruby-align: auto;
  
  }

  .Spar{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-right: 0.20%;
    margin: 5px;
    display: inline-block;
   
  }

.Spar,.spartext{
    display: inline-block;
    ruby-align: space-between;
   ruby-align: space-around;
   ruby-align: auto;

    
}
  .Facial{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-left: 0.30%;
    margin:5px;
    display: inline-block;
  
  }
  .Facial,.facialtext{
    display: inline-block;
    ruby-align: space-between;
   ruby-align: space-around;
   ruby-align: auto;
  }
  
  /* Styles for mobile screens */
  @media (max-width: 797px) {
    
   
    /* Mobile-specific styles */
    .landing-page{
        margin-top: -665px;
        width: 900px;
        background-size: cover;
        background-position: absolute;
        height: 358px;
        text-align: center;
        margin-left: -7px;
        margin-right: -7px;
        padding-left: auto;
        padding-right: auto;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        background-color: white;
        
    }

  }
        
      /* Style for the logo */
      
  
      /* Style for the heading */
      h1 {
        font-size: 24px;
        
      }
  
      /* Style for the subheading */
      p {
        font-size: 14px;
      }

      .Salon1{
        margin-left: 0.40%;
        margin:5px;
        display: inline-block;
      }

      .Salon1text{
        display: inline-block;
        ruby-align: space-between;
        ruby-align: space-around;
        ruby-align: auto;
      }

      .Salon2{
        margin-left: 0.40%;
        margin:5px;
      
        display: inline-block;
      }

      .Salon2text{
        display: inline-block;
        ruby-align: space-between;
        ruby-align: space-around;
        ruby-align: auto;
      }



      
  