body {
    font-family: Arial, sans-serif;
    background-color: #D1C8BD;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9d9d9;
    height: 440px;
    border-radius: 20px;
    margin-top: 70px;
    justify-content: center;
}

.navbar {
    background-color: #d2d1cf;
    height: 80px;
    width: 100%;
}

.lumina{
    margin-left: 20px;
    margin-right: 50px;
    padding: 20px;
}

.navbar .img {
    margin-top: 20px;
    display: flex;
    margin-right: 10px;
    float: right;
}

.icon{
    float: left;
    margin-left: 20px;
    margin-right: 300px;

    

}
input[type="submit"]{
    margin-left: 90px;
    margin-right: 100px;
    background-color:#837C6A ;
    /* background-color: #837C6A; */
}
input[type="submit"] {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* background-color: #837C6A; */
    color: #060404;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



.container.header3{
    margin-right: 20rem;
    margin-left: 20rem;
}