body{
    background-color: #D1C8BD;
}
img{
    justify-content: space-between;
    display: flex;
   
}
.glit{
    margin-left: 80px;
    width: -100%;

}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    height: 500px;
  }
  
  
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .logo{
    float: right;
margin-right: 19px;
  }
  .address{
    margin-bottom: auto;
    margin-top: 380px;
    margin-left: 190px;
    float: left;
   
  }


.container img{
    border-radius: 125px;
    width: 169px;
    height: 155px;
    margin-left: 170px;
    margin-top: 60px;
}

.glam{
    margin-top: 20px;
    margin-bottom: 50px;
}

.header{
  
font-weight: 900px;
margin-bottom: 35px;
}
.D{
    margin-top: 30px;
}
.card-img-top{
    width: -150px;
    height: 240px;
}
.heading{
    margin-left: -150px;
    margin-right: 220px;
}
.makeup{
    width: 450px;
    margin: 40px;
}
.nails{
    width: 450px;
    margin: 40px;  
}

img{
    justify-content: space-between;
    display: flex;
   
}
.glit{
    margin-left: 80px;
    width: -100%;

   
}
.navbar{
    height: 100px;
    width: 530px;
    background-color: #c3c3c3;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    height: 500px;
  }
  
  
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .logo{
    float: right;
margin-right: 19px;
  }
  .address{
    margin-bottom: auto;
    margin-top: 380px;
    margin-left: 190px;
    float: left;
   
  }


.container img{
    margin-left: auto;
    margin-right: auto;
}

.glam{
    margin-top: 20px;
    margin-bottom: 50px;
}

.header{
  
font-weight: 900px;
margin-bottom: 35px;
}
.D{
    margin-top: 30px;
}
.card-img-top{
    width: -150px;
    height: 240px;
}
.heading{
    margin-left: -150px;
    margin-right: 220px;
}
.makeup{
    width: 450px;
    margin: 40px;
}
.nails{
    width: 450px;
    margin: 40px;  
}

.navbar img {
    float: right;
    margin-top: 10px;
    margin-right: 150px;
}

.navbar i{
    float: left;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 10px;
}