* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --gray: #c3c3c3;
    --gray-light: #e1e1e1;
    --gray-dark: #343434;
    --brown: #D1C8BD;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--brown);

}

.app {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 40%;
    width: 100%;
    background-color: var(--gray);
    border-radius: 0 0 3rem 3rem;
    border-bottom: solid 1px var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav i {
    margin-right: 5px; /* Add some spacing between the icon and the image */
    font-size: 24px;
    margin-left: 7px;
}


.header .title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}

.header img {
    margin-right: 1rem;
}

.header .sub-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
}


.category {
    margin-top:.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category img {
    background-color: var(--gray-dark);
    border-radius: 50%;
    padding: .2rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.category div {
    text-align: center;
}

.Paragraph1{
    margin-top: 20px;
    text-align: center;
}

.Salon{
    margin-top: 20px;
    text-align: center;
}



img:hover {
    background-color: var(--brown);
    opacity: .6;
    border: var(--brown) solid 20px;
    color: var(--brown);
   
  }
