* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --gray: #c3c3c3;
    --gray-light: #e1e1e1;
    --gray-dark: #343434;
    --brown: #D1C8BD;
}

body {
    font-family: "Roboto", sans-serif;
    background: var(--brown);

}

.app {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 40%;
    width: 100%;
    background-color: var(--gray);
    border-radius: 0 0 3rem 3rem;
    border-bottom: solid 1px var(--white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav i {
    font-size: 2.5rem;
    padding: 0 1rem;
}

nav button {
    border: 0;
    background-color: transparent;
}


.header .title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}

.header img {
    margin-right: 1rem;
}

.header .sub-title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 100;
}

.menu-icon {
    position: relative;
}

.menu-icon .dropdown {
    display: block;
    flex-direction: column;
    background-color: #e1e1e1ed;
    position: absolute;
    left: 1rem;
    top: 2.5rem;
    width: 7rem;
    list-style-type: none;
    box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.75);
}

.menu-icon .dropdownClose {
    display: none;
}

.menu-icon .dropdown .option {
    padding: .5rem;
    border-bottom: solid 1px var(--white);
}

.menu-icon .dropdown .option:hover {
    background-color: var(--gray-dark);
    color: var(--white);
}

.menu-icon a {
    text-decoration: none;
    color: var(--gray-dark);
}

.option:hover a {
    color: var(--white);
}

.category {
    margin-top:.9rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.category img {
    background-color: var(--gray-dark);
    border-radius: 50%;
    padding: .2rem;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.category div {
    text-align: center;
}

.Paragraph1{
    margin-top: 20px;
    text-align: center;
}

.Salon{
    margin-top: 20px;
    text-align: center;
}


img:hover {
    background-color: var(--brown);
    opacity: .6;
   
  }


  