
body {
    font-family: Arial, sans-serif;
    background-color: #D1C8BD;
    margin: 0;
    padding: 0;
}





.navbar img {
    float: right;
    margin-top: 10px;
    margin-right: 150px;
}

.navbar i{
    float: left;
    font-size: 30px;
    margin-top: 25px;
    margin-left: 10px;
}

.navbar {
    background-color: #d2d1cf;
    height: 80px;
    width: 100%;
    display:inline-block;
    vertical-align: center;
    position: sticky;
}

.card{
    height: 650px;
    margin-top: 16px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    border: white solid 14px;
    position: sticky;
    text-align: center;
    background-color: #D1C8BD;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.card .btn{
    margin-top: 20px;
    float: right;
    background-color: #D1C8BD;
    color: black;
}

.card .btn:hover {
    border: #D1C8BD solid 4px;
  }


  .card img {
    border-radius: 20px;
    height: 180px;
  }
