body {
    font-family: Arial, sans-serif;
    background-color: #b10e0e;
    margin: 0;
    padding: 0;
    
}

.container {
    margin: 100px;
    padding: 20px;
    background-color: #D1C8BD;
    width: 350px;
    height: 440px;
    margin-top: 30px;
    margin-right: -60px;
    justify-content: center;
    align-items: center;


}

.navbar {
    background-color: #d2d1cf;
    height: 130px;
    width: 110%;
    display:inline-block;
    vertical-align: center;
}
.icon-container {
    width: 100px;  
    height: 70px; 
    color: rgb(12, 12, 12);   
    position: relative;
    margin-top: -10px;
    margin-right: 100px;
  } */
  


img{
    margin-right: -310px;
    margin-top: -dcfdvcf115px;
    margin-left: 10px;
    
} 

      table {
        
        border-spacing: 5px;

      }
     td {
        padding: 0px;
        

    
      } 
      thead{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-right: .1rem, .1rem;
        margin-left: .1rem , .1rem;
        background-color: #D1C8BD;
        margin-top: 10px;
    
    }
    .logo{
     float: right;
     position: relative;
     padding-right: 0%;
     margin-left: -60px;
     margin-right: 35px;
     margin-top: 20px;

}

      .text-container {
        display: flex;
        align-items: center;
        } 

      .text-container h4 {
        display: flex;
        align-items: center;
        width: 250px;
        padding: 20px;
        background-color: rgba(240, 240, 240);
        height: 15px;
        opacity: .7p;
        padding-right: 20px;
        }

      .text-container p{
        display: flex;
        align-items: center;
        width: 250px;
        padding: 20px;
        height: 17px;
        opacity: .7;
        padding-right: 20px;
        background-color: B3B3B3;
      }

      .date{
        margin: -150px;
        margin-left: -160px;
      }

      .icon{
        height: 20px;
        width: 20px;
        float: right;
        margin-right: -5px;
      }

      
      

    

