<!-- !DOCTYPE html> -->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="Confirmation.css">
  <title>html button</title>
</head>
<body>
   <div>
    
   
    <nav class="navbar sticky-top bg-body-tertiary ">
        <div class="container-fluid">
        <img class="logo" src="/Group_2.png" alt="">
          
            <span class="icon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"  align-items: center; fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              </svg></span>
           
        </div>


   </nav>
  
   <p>REVIEW AND CONFIRM</p> <br>
       <div class="form">
            <img class="lumina" src="./images/lumina logo.png" alt=""> <span><p>Lumina Skincare.</p></span> 
            <!-- Content here -->

     <div class="side">
         <p>Sandton Drive, 2196 Johannesburg</p>
          <p>Saturday , 17 February 2024 </p>
        </div>
          <p>10:00-11:00</p>
          <p>Full Body Mssage</p>
          <p>1hr</p>
          <p>VAT</p>
          <hr>
        </div>
      </div>
        <!-- <p>Total</p>
        <p>Pay Now</p>
        <P>Pat At Venue</P>
        <p>Pay method</p>
        <p>Pay in cash</p>
        <p>R850</p>
        <P>1 Service.1h</P><button>Confirm</button> -->
       
</body>
<!-- p>Total</p>
        <p>Pay Now</p>
        <P>Pat At Venue</P>
        <p>Pay method</p>
        <p>Pay in cash</p>
        <p>R850</p>
        <P>1 Service.1h</P><button>Confirm</button>
</html> -->




