<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" type="text/css" href="/static/Login.css">
</head>
<body>
    <nav class="navbar sticky-top bg-body-tertiary ">
        <div class="container-fluid">
            
<nav class="navbar sticky-top bg-body-tertiary ">
    <div class="container-fluid">

        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
          </svg></span>

          <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
          <span class="icon1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg></span>
          </svg></span> 
    </div>
  </nav>
<!-- <div class="container"> -->

<center><img src="./TEMPLATES/Group_2.png" alt=""></center>
<h1>Signup</h1>
<form action="/signup.py" method="post">
<form action="index.html" method="post">
<center><label for="name_surname" >Name_Surname</label></center>
  <center><input type="text" id="name_surname" name="name_surname" required></center><br><br>
  <center><input type="text" id="name" name="name_surname" required></center><br><br>

<center><label for="Email" >Email Address</label></center><br> 
  <center><input type="text" id="Email Address" name="Email Address" required></center><br>
  <center><input type="text" id="Email" name="Email Address" required></center><br>
 <p class="Paragraph1" ></p><br>

 <center><label for="password" >Password</label></center><br> 
  <center><input type="password" id="password" name="password" required></center><br><br>
 <p class="Paragraph1" ></p><br>

 <center><label for="password" > Confirm Password</label></center><br> 
 <center><input type="password" id="password" name="password" required></center><br><br>
 <center><input type="password" id="confirm" name="password" required></center><br><br>
<p class="Paragraph1" ></p><br>




  <center><input type="submit" value="Signup"></center>
  <center><input id="submit" type="submit" value="Signup"></center>

</form>
<!-- </div> -->


















{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="{{ url_for('index') }}">
        <label for="name-surname">Name &amp; Surname:</label>
        <input type="text" id="name-surname" name="Name_Surname" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br><br>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required><br><br>

        <input type="submit" value="Signup">
    </form>
</body>
</html>
 {% endcomment %}





