<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet"href="{{ url_for('static', filename='Belle_salon.css') }}">
    </head>
    <body>
        <div>
            <nav class="navbar"> 
              <img  src="{{ url_for('static', filename='/images/Group 2.png') }}"alt="Example Image"/>
              <i  class="bi bi-chevron-left" onclick="goToLandingPage()"></i> 
              
              </nav>
             
              <div class="container">
                <center><img  src="{{ url_for('static', filename='/images/Salon 5.png') }}"alt="Example Image"/></center>
                <!-- Content here -->
                <center><h3 class="header3">BELLE BEAUTY</h3>
                <h3 class="header3">133 Deysel st,Booysens</h3>
                <h3 class="header3">Pretoria,0082</h3>
                <input type="submit" value="View more"></center>
                
              </div>
              
            </div>
       
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="" async defer></script>
    </body>
</html>