<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saloon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <link rel="stylesheet" href="../static/landing.css" />
  </head>

  <body>
    <div class="app">
      <div class="header">
        
            <img
            src="{{ url_for('static', filename='/images/logo.png') }}"
            alt="Example Image"
          />
        

        <div class="title">RADIANT AESTHETIC</div>
        <div class="sub-title">Treat yourself to great service</div>
      </div>

      <div>
        <h3 class="Paragraph1">SELECT A CATEGORY</h3>
      </div>
      <div class="category">
        <div class="item" onclick="goToNextPage('')">
          <img
            src="{{ url_for('static', filename='/images/scissors.png') }}"
            alt="Example Image"
          />
          <div>Hair</div>
        </div>
        <div class="item" onclick="goToNextPage('')" >
          <img
            src="{{ url_for('static', filename='/images/Nails.png') }}"
            alt="Example Image"
          />
          <div>Nails</div>
        </div>
        <div class="item" onclick="goToNextPage('')">
          <img
            src="{{ url_for('static', filename='/images/Spa.png') }}"
            alt="Example Image"
          />
          <div>Spar</div>
        </div>
        <div class="item" onclick="goToNextPage('')">
          <img
            src="{{ url_for('static', filename='/images/FACIAL.png') }}"
            alt="Example Image"
          />
          <div>Facial</div>
        </div>
      </div>
      <div>
        <h3 class="Salon">PICK A SALON</h3>
      </div>

      <div class="category">
        <div class="item">
          <img
            src="{{ url_for('static', filename='/images/Salon 1 s.png') }}"
            alt="Example Image"
          />
          <div>
            Sharon Beaty <br />
            Bar
          </div>
        </div>
        <div class="item">
          <img
            src="{{ url_for('static', filename='/images/Salon 2 s.png') }}"
            alt="Example Image"
          />
          <div>Glit & Glamour <br />

          </div>
        </div>
      </div>
    </div>


    <script>
      function goToNextPage() {
        // Replace the URL "/next-page" with the actual URL or route of the next page
        window.location.href = "/next-page?salon=" + encodeURIComponent();
      }
    </script>

  </body>
</html>
