</html>
  <link rel="stylesheet" type="text/css" href="./sharon.css">
  <title>glit&glam</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"> 
  <link rel="stylesheet"href="{{ url_for('static', filename='Services_sharon.css') }}">


</head>
<body class="body">

   <div>

    <nav class="navbar">
      <i id="icon" class="bi bi-chevron-left" onclick="goToLandingPage('landing')"></i>
        <img  src="{{ url_for('static', filename='/images/Group 2.png') }}"alt="Example Image"/>
         
    </nav>
    <div class="container">
        <center><img class""  src="{{ url_for('static', filename='/images/Salon 1 s.png') }}"alt="Example Image"/></center>     
        <!-- Content here -->
        <center><div class="glam"><h1>SHARON'S BEAUTY BAR</h1></div></center>
    </div>
<div class="header"><h1><center>Services </center> </h1></div>


    
<div class="container text-center">
    <div class="row align-items-end">
      <div class="col">
        <button type="button" class="btn btn-secondary">Weaves</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary">Haircut</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary">Braids</button>
      </div>
    </div>
  </div>
        <div class"map">
        <h3 class="D">ADDRESS</h3>
        <h3>magwa cres, midrand, 2066, johannesburg</h3><br>
        <center><img style="width: 100%; " src="{{ url_for('static', filename='/images/Map.jpeg') }}"alt="Example Image"/></center> 
    </div>
    <h2 class="heading 2">INFO</h2><br><br><br><br>
    <h2>"We are the best salon in the heart of midrand that deal with hair. our staff are friendly and professional. unisex salon.” </h2>

    <center><h1>PORTFOLIO</h1></center>
    <center><img   src="{{ url_for('static', filename='/images/lady.jpeg') }}"alt="Example Image"/></center>  <br>
    <center><img  src="{{ url_for('static', filename='/images/guy.jpeg') }}"alt="Example Image"/></center> <br>
        
      </div>
    </body>
    
</html>
    
      



  
  
  
